/*html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

.left-menu {
	width: 129px;
	float: left;
}

.content {
	/*float: right;
}*/

.project-name, .role-name {
	line-height: 30px;
	font-size: 16px; 
}

input.ng-invalid.ng-touched {
	border-color: red;
}

.text-danger {
	font-size: 12px;
}