<div ng-controller="backlogController as backlogCtrl">
    <h3>{{::backlogCtrl.projectName}} - Backlog</h3>

    <h4>Stories</h4>
    <div ng-form="editStory{{$index}}" ng-repeat="story in backlogCtrl.stories">
        <div ng-hide="story.id" class="panel panel-default panel-body">
            <div class="form-group">
                <label for="storyTitle">Title</label>
                <span>*</span>
                <input type="text" class="form-control" name="storyTitle" placeholder="Enter story title" ng-model="story.title"
                    bind-enter="backlogCtrl.saveStory(story, $index)" ng-disabled="story.saving" focus required>
                <span class="text-danger" ng-show="editStory{{$index}}.storyTitle.$dirty && editStory{{$index}}.storyTitle.$invalid">Story
                    title is required</span>
            </div>

            <button class="btn btn-danger btn-xs pull-right" ng-click="backlogCtrl.removeStory(story)">Remove</button>
            <button class="btn btn-primary btn-xs pull-right mr5" ng-click="backlogCtrl.addStory()">Save</button>
        </div>
        <div ng-show="story.id">
            <a class="story-title" ui-sref="projects.backlog-item-edit({projectId:story.projectId, storyId:story.id})">{{story.title}}</a>
            <div class="btn-group pull-right">
                <a class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Move to <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="sprint in backlogCtrl.sprints"><a ng-click="backlogCtrl.moveStory(story, sprint.id)">{{::sprint.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <button id="btn-add-story" class="btn btn-primary btn-xs pull-right" ng-click="backlogCtrl.addStory()">Add story</button>

    <div class="page-actions-panel">
        <button type="submit" class="btn btn-primary" ng-click="backlogCtrl.submit()">Save</button>
        <a class="btn btn-default" ui-sref="projects.list">Cancel</a>
    </div>
</div>