<div>
    <div ng-repeat="project in projectsCtrl.projects | orderBy:'name'">
        <a class="project-name" ui-sref="projects.edit({projectId:project.id})" ng-class="{'disabled-entity': project.archived}">{{::project.name}}</a>
        <div class="project-links pull-right">
            <span ng-repeat="sprint in project.sprints">
                <span class="" ng-hide="{{$index}} == 0">|</span>
                <a class="btn btn-success btn-xs" ui-sref="sprint.board({projectId:project.id, sprintId:sprint.id, projectName:project.name, sprintName:sprint.name})" ng-class="{'current-sprint': projectsCtrl.activeSprint(sprint)}">{{::sprint.name}}</a>
            </span>
            <span class="">|</span>
            <a class="" ui-sref="projects.backlog({projectId:project.id, sprints:project.sprints, projectName:project.name})">Backlog</a>
        </div>
    </div>
</div>